body {
    height: 600px;
    background-image: linear-gradient( wheat,lightyellow,wheat);
}

#canvas {
    display: inline;
    border: 1px solid black;
    border-radius: 10px;
    cursor: url('cursor/brush.cur'),auto;
    margin-left: 30px;
    background-color: white;
}

button {
    background-size: contain;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    background-color:lightsalmon; 
    border: none;
}
button:hover {
    background-color:lightblue; 
}

.selected {
    background-color: gold;
}

#brush {
    background-image: url("image/brush.png");
}

#circle {
    background-image: url("image/hollow_circle.png");
}

#rectangle {
    background-image: url("image/hollow_rectangle.png");
}

#triangle {
    background-image: url("image/triangle.png");
}

#text {
    background-image: url("image/text.png");
}

#Text {
    display: none;
    position: relative;
    margin: 5px;
}

#text_input_div {
    margin-top: 5px;
    margin:10px;
    margin-bottom: 20px;
}

#text_input {
    height: 20px;
    width: 120px;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
}

#font_family {
    border-radius:10px;
    color: blueviolet;
    background-color: blanchedalmond; 
}

#font_size {
    border-radius:10px;
    color: blueviolet;
    background-color: blanchedalmond; 
}

#eraser {
    background-image: url("image/eraser.png");
}

#rainbow {
    background-image: url("image/rainbow.png");
}

#rst {
    background-image: url("image/reset.png");
}

#undo {
    background-image: url("image/undo.png");
    margin-right: 5px;
}

#redo {
    background-image: url("image/redo.png");
    margin-right: 5px;
}

#upload_div {
    display: inline-block;
    background-image: url('image/upload.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-color: lightsalmon;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 10px;
}

#upload_div:hover {
    background-color: lightblue;
}

#upload {
    opacity: 0;
    width: 50px;
    height: 50px;
    margin: 0;
    border: 0;
}

a > img {
    background-image: url("image/download.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-color: lightsalmon;
    border: none;
    width: 50px;
    height: 50px;
    margin-left: 5px;
}
a > img:hover {
    background-color:lightblue; 
}

#save {
    width: 50px;
    height: 50px;
}

#option {
    margin: 5px;
    color: blueviolet;
    background-color: blanchedalmond;
    border-radius: 10px;
}

#content {
    margin-top: 50px;
    box-sizing: border-box;
}

#tool-region {
    position: relative;
    margin-left: 50px;
    margin-top: 50px;
    height: 400px;
    width: 400px;
    text-align: center;
}

#Figure {
    position: relative;
    margin: 10px;
}

#width_div {
    position: relative;
    margin: 10px;
}

#width_range {
    position: relative;
    top: 5px;
}

#pencil {
    width: 30px;
    height: 30px;
    display: inline;
    background-image: url('image/pencil.png');
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    border-radius: 999px;
}

#draw {
    position: relative;
    margin: 5px;
}

#function {
    position: relative;
    margin: 5px;
}

#color_div {
    display: inline-block;
    background-image: url('image/color.png');
    background-size: contain;
    background-repeat: no-repeat;
    border: 3px solid black;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    margin: 10px;
}

#color_div:hover {
    border-color : lightblue;
}

#color {
    opacity: 0;
    width: 50px;
    height: 50px;
}

#load {
    display: flex;
    justify-content: center;
    position: relative;
    right: 3px;
}